<form
  role="form"
  autocomplete="off"
  [formGroup]="formGrupo"
  (ngSubmit)="enviar()"
  novalidate
>
  <div mat-dialog-title class="flex items-center justify-between">
    <div>{{ alta ? "Alta materias no base" : "Editar materias no base" }}</div>
    <button type="button" mat-icon-button (click)="close(false)" tabindex="-1">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <div class="mt-4 flex flex-col gap-2">
      <div class="flex flex-col sm:flex-row sm:gap-4">
        <mat-form-field class="flex-auto">
          <mat-label>Materias</mat-label>
          <input
            type="text"
            [placeholder]="this.PLACEHOLDER"
            aria-label="Materia"
            matInput
            formControlName="materia"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            [displayWith]="displayFn"
          >
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option.materia }}
            </mat-option>
          </mat-autocomplete>
          <button
            [disabled]="this.formGrupo.get('materia').invalid"
            mat-icon-button
            matSuffix
            matTooltip="Agregar materia"
            type="button"
            (click)="agregarMateria()"
          >
            <mat-icon svgIcon="mat:add"></mat-icon>
          </button>
          <mat-error *ngIf="this.formGrupo.get('materia').hasError('required')">
            El campo es requerido</mat-error
          >
        </mat-form-field>
      </div>
    </div>

    <hr />
    <div class="flex-auto">
      <h3 style="text-align: center"><strong>Materias asignadas</strong></h3>
    </div>
    <div class="container">
      <table
        mat-table
        [dataSource]="this.dataSource"
        class="w-full"
        matSort
        #mitabla
      >
        <ng-container *ngFor="let column of columns1">
          <ng-container
            *ngIf="column.property == 'materia'"
            [matColumnDef]="column.property"
          >
            <th *matHeaderCellDef class="uppercase" mat-header-cell>
              {{ column.label }}
            </th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
              {{ row.materia }}
            </td>
          </ng-container>
        </ng-container>
        <ng-container *ngFor="let column of columns1">
          <ng-container
            *ngIf="column.property == 'rama'"
            [matColumnDef]="column.property"
          >
            <th *matHeaderCellDef class="uppercase" mat-header-cell>
              {{ column.label }}
            </th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
              {{ row.rama }}
            </td>
          </ng-container>
        </ng-container>
        <ng-container *ngFor="let column of columns1">
          <ng-container
            *ngIf="column.property == 'creditos'"
            [matColumnDef]="column.property"
          >
            <th *matHeaderCellDef class="uppercase" mat-header-cell>
              {{ column.label }}
            </th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
              {{ row.creditos }}
            </td>
          </ng-container>
        </ng-container>
        <ng-container *ngFor="let column of columns1">
          <ng-container
            *ngIf="column.property == 'tipoMateria'"
            [matColumnDef]="column.property"
          >
            <th *matHeaderCellDef class="uppercase" mat-header-cell>
              {{ column.label }}
            </th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
              {{ row.tipoMateria }}
            </td>
          </ng-container>
        </ng-container>
        <ng-container *ngFor="let column of columns1;">
          <ng-container *ngIf="column.type === 'button'" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell style="text-align: center;" > {{ column.label }}</th>
            <td *matCellDef="let element" [ngClass]="column.cssClasses" mat-cell>
              <div class="flex items-center justify-center">
                <a
                (click)="eliminarmateriaDocente(element.idRelDocenteMateriaNoBasePlantilla)"
                  matTooltip="Desasignar materia"
                  class="w-10 h-10 leading-none flex items-center justify-center ml-2 hover:bg-hover text-primary bg-primary/10"
                  mat-icon-button>
                  <mat-icon class="icon-sm" svgIcon="mat:remove_circle_outline"></mat-icon>
                </a>
              </div>
            </td>
          </ng-container>
        </ng-container>
        <tr *matHeaderRowDef="visibleColumns1" mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: visibleColumns1"
          class="hover:bg-hover trans-ease-out cursor-pointer"
          mat-row
        ></tr>
      </table>
      <div
        *ngIf="this.materiasNobaseDocente.length == 0"
        class="flex-auto items-center justify-center"
      >
        <h1 class="m-10 headline2" style="text-align: center">
          No se encontraron materias registradas
        </h1>
      </div>
    </div>

  </mat-dialog-content>

  <!-- <mat-dialog-actions align="end">
    <button type="button" mat-button (click)="close(false)">Cerrar</button>
    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="formGrupo.invalid"
    >
      Agregar
    </button>
  </mat-dialog-actions> -->
</form>


<p-dialog header="Materia ya asignada" [(visible)]="displayBasic" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
        <p>La materia ya se encuentra asignada</p>
        <br>

        <p-table [value]="listaMateriaDocenteExistente" responsiveLayout="scroll" [paginator]="false" [rows]="5" [responsive]="true">
          <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="materia">Materia<!-- <p-sortIcon field="materia"></p-sortIcon>  --></th>
                  <th pSortableColumn="nombreDocente">Docente <!-- <p-sortIcon field="nombreDocente"></p-sortIcon> --></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                  <td>{{product.materia}}</td>
                  <td>{{product.nombreDocente}}</td>
              </tr>
          </ng-template>
      </p-table>


        <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="cerrarMateriasDocenteEncontradas()" label="Cerrar" styleClass="p-button-text"></p-button>
        </ng-template>



</p-dialog>
