<vex-page-layout>
  <div class="p-gutter m-2">
    <div class="card overflow-auto mt-2">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
          Escalafon aspirantes
        </h2>
        <span class="flex-1"></span>
        <!-- <button (click)="openModalPlanEstudios(true)"
          class="ml-4 flex-none"
          color="primary"
          mat-mini-fab
          matTooltip="Agregar Plan de Estudios"
          type="button">
          <mat-icon svgIcon="mat:add"></mat-icon>
        </button> -->
      </div>
      <vex-lista-aspirante-escalafon></vex-lista-aspirante-escalafon>
    </div>
  </div>
</vex-page-layout>
